APP_NAME="Express Notifications"
NODE_ENV=development
PORT=3000

AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"

REGION="us-east-1"
EMAIL_FROM_NAME="Express Notifications"
EMAIL_FROM_ADDRESS="no-reply@example.com"
